:host {
	display: flex;
	position: relative;
}

.dropzone {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;

	border: 1px dashed gray;
	border-radius: 5px;

	width: 100%;
	// margin: 10px 0;
	padding: 1rem;

	input {
		display: none;
	}

	&.hovering {
		border: 2px solid var(--primary-darker-color);
		color: #dadada !important;
	}
}
