<div
  class="dropzone"
  appFileDrop
  [class.hovering]="isHovering"
  (fileDropped)="addFiles($event)"
  (fileHovered)="toggleHover($event)"
>
  <!-- <p>{{ 'upload.drop' | translate }}</p> -->
  <button mat-button type="button" (click)="input.click()">
    <mat-icon>attach_file</mat-icon>
    <!-- {{ 'upload.choose' | translate }} -->
    Auswählen
  </button>
  <input
    #input
    class="file-input"
    type="file"
    [accept]="acceptTypes.join('|')"
    (change)="onFileChange($event)"
  />
</div>
