<header>
  <mat-toolbar color="primary">
    <span class="title"><img src="/assets/pdf.svg" alt="PDF"> Tools</span>
    <div class="end">
      @if (!hasDocument()) {
        <button mat-fab extended color="accent" (click)="onOpenFilePrompt()">
          <mat-icon>attach_file</mat-icon>
          {{ 'pick file' | transloco }}
        </button>
      }

      @if (hasDocument()) {
        <button mat-icon-button [matTooltip]="'add file' | transloco" (click)="onOpenFilePrompt()">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button [matTooltip]="'download' | transloco" (click)="onDownloadFile()">
          <mat-icon>download</mat-icon>
        </button>
      }

      <button mat-icon-button [matMenuTriggerFor]="moreMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #moreMenu="matMenu">
        @if (hasDocument()) {
          <button mat-menu-item (click)="onOpenProperties()">
            <mat-icon>properties</mat-icon>
            {{ 'properties.link' | transloco }}
          </button>
        }

        <button mat-menu-item (click)="onOpenAbout()">
          <mat-icon>info</mat-icon>
          {{ 'about.link' | transloco }}
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  @if (isProcessing()) {
    <mat-progress-bar mode="indeterminate" />
  }
</header>

@if (hasDocument()) {
  <div class="actions">
    <button mat-mini-fab [matTooltip]="'add file' | transloco" (click)="onOpenFilePrompt()">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-fab color="primary" [matTooltip]="'download' | transloco" (click)="onDownloadFile()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
}
