<header>
  <button mat-fab extended color="accent" (click)="onOpenFilePrompt()">
    <mat-icon>attach_file</mat-icon>
    {{ 'pick file' | transloco }}
  </button>

  @if (canDownload()) {
    <button mat-fab extended color="primary" (click)="onDownloadFile()">
      <mat-icon>download</mat-icon>
      {{ 'download' | transloco }}
    </button>
  }

  <button mat-button color="primary" (click)="onOpenAbout()">
    <mat-icon>info</mat-icon>
    {{ 'about.link' | transloco }}
  </button>

  @if (isProcessing()) {
    <mat-progress-bar mode="indeterminate" />
  }
</header>

@if (canDownload()) {
  <div class="actions">
    <button mat-mini-fab (click)="onOpenFilePrompt()">
      <mat-icon>attach_file</mat-icon>
    </button>

    <button mat-fab color="primary" (click)="onDownloadFile()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
}
