:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;

  &.hovering {
    box-shadow: inset 0 0 20px #3f51b5, inset 0 0 20px #3f51b5,
      inset 0 0 20px #3f51b5;
    color: #dadada !important;
  }
}
