<div
  class="list"
  cdkDropList
  cdkDropListOrientation="mixed"
  (cdkDropListDropped)="onChangePosition($event)"
>
  @for (page of pages(); track page) {
  <div cdkDrag class="item">
    <button class="tool" mat-mini-fab color="warn" (click)="onRemovePage(page)">
      <mat-icon>delete</mat-icon>
    </button>

    <app-thumb [pageIndex]="page" />
  </div>
  } @empty {}
</div>

<section class="attachments">
  @defer (when hasAttachments()) {
  <app-attachments [attachments]="attachments()" />
  }
</section>
