<canvas hidden #canvas height="0" width="0"></canvas>

<mat-progress-bar
  [mode]="'indeterminate'"
  *ngIf="processing | async"
></mat-progress-bar>

<div
  cdkDropList
  class="list"
  *ngIf="pages | async as pages"
  (cdkDropListDropped)="onChangePosition($event)"
>
  <div cdkDrag class="item" *ngFor="let preview of pages">
    <button
      class="remove"
      mat-mini-fab
      (click)="onRemovePage(preview.pageIndex)"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <img [src]="preview.base64" />
  </div>
</div>
