<mat-progress-bar
  mode="indeterminate"
  *ngIf="ispPocessing$ | async"
></mat-progress-bar>

<ng-template #empty>
  <div class="empty">
    <mat-icon color="accent">cloud_upload</mat-icon>
    <p class="mat-headline-3">{{ "drop here" | transloco }}</p>
  </div>
</ng-template>

<ng-container *ngIf="pages$ | async as pages; else empty">
  <div cdkDropList class="list" (cdkDropListDropped)="onChangePosition($event)">
    <div cdkDrag class="item" *ngFor="let preview of pages">
      <button
        class="remove"
        mat-mini-fab
        color="warn"
        (click)="onRemovePage(preview.pageIndex)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <img [src]="preview.base64" />
    </div>
  </div>
</ng-container>
